@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ClientApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>
    <script src="/content/runtime-es2015.js" type="module"></script>
    <script src="/content/runtime-es5.js" nomodule defer></script>
    <script src="/content/polyfills-es5.js" nomodule defer></script>
    <script src="/content/polyfills-es2015.js" type="module"></script>
    <script src="/content/styles-es2015.js" type="module"></script>
    <script src="/content/styles-es5.js" nomodule defer></script>
    <script src="/content/vendor-es2015.js" type="module"></script>
    <script src="/content/vendor-es5.js" nomodule defer></script>
    <script src="/content/main-es2015.js" type="module"></script>
    <script src="/content/main-es5.js" nomodule defer></script>
</body>
</html>
