<div id="pnlPrint" style="width:780px;height: 2000px;" *ngIf="tkb">
    <div style="display: inline;">
        <select (change)="onChange($event);" class="form-control" style="width: 16.5%;float: left;" *ngIf="week">
            <option *ngFor="let w of week" value="{{w.Time}}" selected="{{w.Current ? 'selected' : ''}}" [ngClass]="{'weekCurrent': w.Current}">Từ {{w.Text}}</option>
        </select>
        <select (change)="onChangeDenNgay($event);" class="form-control" style="width: 18%;float: left;" *ngIf="week">
            <option *ngFor="let w of week" value="{{w.Time}}" selected="{{w.Current ? 'selected' : ''}}" [ngClass]="{'weekCurrent': w.Current}">Đến {{w.Text}}</option>
        </select>
        <select (change)="onChangeClass($event);" class="form-control" style="width:21%;float: left;" *ngIf="classes">
            <option  *ngFor="let c of classes" value="{{c.Name}}" selected="{{c.Current ? 'selected' : ''}}" [ngClass]="{'weekCurrent': c.Current}">{{c.Name}}</option>
        </select>
        <select (change)="onChangeGroup($event);" class="form-control" style="width: 24%;float: left;" *ngIf="groups">
            <option  *ngFor="let g of groups" value="{{g.Value}}" selected="{{g.Current ? 'selected' : ''}}" [ngClass]="{'weekCurrent': g.Current}">{{g.Name}}</option>
        </select>
        <button type="button" class="btn btn-primary" (click)="Setting = true">Thiết lập</button>
    </div>
    <!-- Modal -->
    <div class="modal fade show" [ngStyle]="{'display': Setting ? 'block' : 'none'}" style="padding-right: 17px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thiết lập mặc định</h5>
                </div>
                <div class="modal-body" *ngIf="classes && groups">
                    <select (change)="onSaveClass($event);" class="form-control" style="width:50%;float: left;" *ngIf="classes">
                    <option  *ngFor="let c of classes" value="{{c.Name}}" selected="{{c.Current ? 'selected' : ''}}" [ngClass]="{'weekCurrent': c.Current}">{{c.Name}}</option>
                </select>
                    <select (change)="onSaveGroup($event);" class="form-control" style="width: 50%;float: left;" *ngIf="groups">
                    <option  *ngFor="let g of groups" value="{{g.Value}}" selected="{{g.Current ? 'selected' : ''}}" [ngClass]="{'weekCurrent': g.Current}">{{g.Name}}</option>
                </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="handleSave();">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <p style="text-align:center">
                        <img src="/tmp.png" style="width:780px;height:1px;">
                        <span id="lblTieude" style="font-size:20pt;">THỜI KHÓA BIỂU SINH VIÊN</span>
                    </p>
                    <div *ngFor="let item of tkb" [ngStyle]="{'margin-bottom': '20px'}">
                        <table cellspacing="0" cellpadding="4" border="1" id="grvHocphandangky" style="color:#333333;width:100%;border-collapse:collapse;">
                            <tr align="center" style="color:White;background-color:#507CD1;font-weight:bold;">
                                <th scope="col" style="background-color:yellow;"></th>
                                <th *ngFor="let day of item.days" scope="col" [ngStyle]="{'background-color': 'yellow'}">
                                    <div [ngStyle]="{color: day.Current == true ? 'red' : 'black'}">
                                        {{day.Name}}<br><span [ngClass]="{'badge badge-secondary': day.Current}">{{day.Time}}</span>
                                    </div>
                                </th>
                            </tr>
                            <tr style="background-color:#EFF3FB;font-size:9pt;">
                                <td align="center" style="font-size: 20px;font-weight: bold;">
                                    <span>Sáng</span>
                                </td>
                                <td align="center" style="background: white;" *ngFor="let day of item.days">
                                    <div *ngFor="let mh of day.Morning">
                                        <div class="Lich" [ngStyle]="{'background': day.Current ? '#cfdde6' : 'white'}">
                                            <div class="Lich" [ngStyle]="{'background': day.Current ? '#cfdde6' : 'white'}">
                                                <p style="font-weight: bold;font-size: 15px;margin-bottom: 0;">{{mh.Phong}}</p>
                                                <p style="font-size: 11px;color: #0f2e94;">{{mh.ThoiGianVaoHoc}}-{{mh.ThoiGianKetThuc}} ({{mh.SoTiet}}T)</p>
                                                <p style="font-size: 15px;font-weight: bold;color: red;"><i innerHtml="{{mh.TenMH}}"></i></p>
                                                <p style="font-weight: bold;color: #4e9a14;" innerHtml="{{mh.NoiDungDay}}"></p>
                                                <p style="font-size: 15px;color: blue;">{{mh.TenGV}}</p>
                                                <p style="font-size: 13px;">{{mh.TenLop}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr style="background-color:#EFF3FB;font-size:9pt;">
                                <td align="center" style="font-size: 20px;font-weight: bold;">
                                    <span>Chiều</span>
                                </td>
                                <td align="center" style="background: white;" *ngFor="let day of item.days">
                                    <div *ngFor="let mh of day.Afternoon">
                                        <div class="Lich" [ngStyle]="{'background': day.Current ? '#cfdde6' : 'white'}">
                                            <p style="font-weight: bold;font-size: 15px;margin-bottom: 0;">{{mh.Phong}}</p>
                                            <p style="font-size: 11px;color: #0f2e94;">{{mh.ThoiGianVaoHoc}}-{{mh.ThoiGianKetThuc}} ({{mh.SoTiet}}T)</p>
                                            <p style="font-size: 15px;font-weight: bold;color: red;"><i innerHtml="{{mh.TenMH}}"></i></p>
                                            <p style="font-weight: bold;color: #4e9a14;" innerHtml="{{mh.NoiDungDay}}"></p>
                                            <p style="font-size: 15px;color: blue;">{{mh.TenGV}}</p>
                                            <p style="font-size: 13px;">{{mh.TenLop}}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>